<!DOCTYPE html>
<html lang="en" style="height: 0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        body{
            width: 100vw;
            height: 100vh;
            padding: 0;
            margin: 0;
        }

        .centerDiv {
            flex: auto; 
            justify-content: center; 
            align-items: center;
            margin: auto;
            width: 50vw;
            height: 100%;
        }

        .container {
            background-color: aquamarine;
            border-radius: 10%;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="centerDiv">
        <h1 class="container">Hello World!</h1>
    </div>
</body>
</html>